.orange-color{
  color:#ff6600 !important;
}

.red-color{
  color:red !important;
}


.green-color {
  color:green !important;
}

.blue-color {
  color: #4F33FF !important;
}

.gray-color {
  color: dimgray !important;
}

.ng-cancel-button {
  margin-right: -32px;
}
